<div class="header d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h4">Contratos</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" class="btn btn-outline-primary" matTooltip="Cadastrar Contrato" [routerLink]="['/rents/register-new-realise']" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Cadastrar</button>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cod.</th>
                <th scope="col">Nome cli.</th>
                <th scope="col">Cod. Prod.</th>
                <th scope="col">Valor</th>
                <th scope="col">Status</th>
                <th scope="col">Detalhes</th>
                <th scope="col">Atualizar</th>
                <th scope="col">Deletar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rent of rents | paginate: {itemsPerPage: pageNumber, currentPage: currentPg}; let i= index">
                <td>{{i+1}}</td>
                <td>{{rent.rentCode}}</td>
                <td>{{rent.customerName}}</td>
                <td>{{rent.prodCode1}}</td>
                <td>{{rent.amount}}</td>
                <td>{{rent.status}}</td>
                <td><a class="icon-blue" matTooltip="Ver Contrato"><mat-icon>search</mat-icon></a></td>
                <td><a class="icon-green" matTooltip="Editar Contrato"><mat-icon>edit</mat-icon></a></td>
                <td><a class="icon-red" matTooltip="Excluir Contrato"><mat-icon>delete</mat-icon></a></td>
            </tr>
        </tbody>
    </table>
    <div class="paginate">
        <pagination-controls (pageChange)="currentPg = $event"></pagination-controls>
        <div>
            <small>Nº de itens por página</small>
            <button class="button-page" (click)="decreasePage()"><i class="fa fa-minus"></i></button>
            <input class="input" [value]="pageNumber">
            <button class="button-page" (click)="increasePage()"><i class="fa fa-plus"></i></button>
        </div>
    </div>
</div>