mat-tab-group {
    margin-bottom: 48px;
    width: 100%;
}

.button-cad {
    margin-top: 0px;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: 87%;
}

a {
    cursor: pointer;
    margin-left: 1.4rem;
}

a.icon-blue {
    color: rgb(93, 93, 238);   
}

a.icon-blue:hover {
    color: blue;   
}

a.icon-green {
    color: rgb(93, 238, 93);   
}

a.icon-green:hover {
    color: green;   
}

a.icon-red {
    color: rgb(238, 93, 93);   
}

a.icon-red:hover {
    color: red;
}

.paginate {
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
}

small {
    font-style: italic;
    opacity: 0.3;
    margin-right: 10px;
}

.input {
    text-align: center;
}

.button-page {
    background: #2199e8;
    color: #fff;
}

.button-page, 
.input {
    border: none;
    margin-right: 2px;
    width: 30px;
    height: 30px;
}