<h1 mat-dialog-title class="border-bottom">Adicionar novo Estado: </h1>
<div mat-dialog-content >
    <form [formGroup]="stateForm" autocomplete="off" novalidate>
      <mat-form-field appearance="outline">
        <mat-label>Nome do Estado: </mat-label>
        <input matInput placeholder="São Paulo..." formControlName="name" required>
        <mat-hint>Insira o Nome completo do Estado.</mat-hint>
        <mat-error *ngIf="validateControl('name') && hasError('name', 'required')">Por favor, digite o nome do Estado.</mat-error>
        <mat-error *ngIf="validateControl('name') && hasError('name', 'maxlength')">Máximo de 45 caracteres.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Sigla do Estado: </mat-label>
        <input matInput placeholder="SP..." formControlName="acronym" required>
        <mat-hint>Insira a Sigla referente ao Estado.</mat-hint>
        <mat-error *ngIf="validateControl('acronym') && hasError('acronym', 'required')">Por favor, digite a Sigla do Estado.</mat-error>
        <mat-error *ngIf="validateControl('acronym') && hasError('acronym', 'maxlength')">Máximo de 03 caracteres.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>País: </mat-label>
        <mat-select matInput formControlName="country" required>
            <mat-option *ngFor="let country of countries" [value]="country.name">{{country.name}}</mat-option>
        </mat-select>
        <!-- <mat-hint>Selecione o TIPO do Produto.</mat-hint> -->
        <mat-error *ngIf="validateControl('country') && hasError('country', 'required')">Por favor, informe o Pais</mat-error>
    </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Status: </mat-label>
        <mat-select matInput formControlName="status" required>
            <mat-option value="active">Ativo</mat-option>
            <mat-option value="inactive">Inativo</mat-option>
        </mat-select>
        <mat-hint>Selecione o Status referente ao Estado.</mat-hint>
        <mat-error *ngIf="validateControl('status') && hasError('status', 'required')">Por favor, informe o Status do Estado.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
          <mat-label>Data de Cadastro: </mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateCad" required>
          <mat-hint>MM/DD/YYYY --- Selecione a Data de Cad.</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="validateControl('dateCad') && hasError('dateCad', 'required')">Por favor, informe a data de Cadastro.</mat-error>
      </mat-form-field>
    </form>
</div>

<div mat-dialog-action [align]="'end'" class="border-top">
    <button class="close" mat-raised-button mat-dialog-close>Fechar</button>
    <button class="save" mat-raised-button color="primary" [disabled]="!stateForm.valid" (click)="createState()">Salvar</button>
</div>